---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";

const description =
  "LIGNUM ELEMENT conçoit du mobilier sur mesure alliant bois, métal et pierre, créé pour s’adapter à chaque projet et sublimer chaque espace.";
const title = "Lignum Element | Projets";

const allImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/projets/**/*.png",
);

const groups = await Object.entries(allImages).reduce(
  async (promiseAcc, [key, value]) => {
    const splitted = key?.split("/");
    const acc = await promiseAcc;
    if (splitted) {
      const projectName = splitted[splitted.length - 2];
      const resolved = await value();
      if (acc[projectName]) {
        acc[projectName].push(resolved.default);
      } else {
        acc[projectName] = [resolved.default];
      }
    }

    return Promise.resolve(acc);
  },
  Promise.resolve({}) as Promise<{ [x: string]: ImageMetadata[] }>,
);
---

<Layout title={title} description={description}>
  <section id="projects" class="px-12 md:px-24 flex flex-col gap-4 items-start">
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
      {
        Object.entries(groups).map(([projectName, images]) => (
          <ProjectCard
            projectName={projectName}
            images={images}
            coverIndex={0}
          />
        ))
      }
    </div>
  </section>
</Layout>
